@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor-preta-container: #0E0C0F;
    --cor-branca: #D9D9D9;
    --cor-cinza: #6B6A6A;
    --cor-cinza-background: #181718;
    --cor-azul-claro: #6ED5F4;
    --cor-azul: #3BA4C4;
    --cor-azul-escuro: #005E77;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cor-cinza-background);
    font-family: var(--montserrat);
    margin: 10px;
}

.container {
    display: flex;
    gap: 5px;
    height: 100vh;
}

.sidebar {
    color: var(--cor-azul-claro);
    display: flex;
    flex-direction: column;
}

.sidebar-nav, .sidebar-perfil, .sidebar-menu, .sidebar {
    box-sizing: border-box;
}

.sidebar-menu {
    background-color: var(--cor-preta-container);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.sidebar-nav {
    background-color: var(--cor-preta-container);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding:5% 0% 10% 20%;
    gap: 10px;
}

.sidebar-nav div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    cursor: pointer;
}

.sidebar-nav-item {
    font-weight: bold;
    font-size: 1.75rem;
}

.dropdown-container {
    display: none; /* para ver como ficará após o uso do js no botão troque o "none" por flex */
    flex-direction: column;
    padding-left: 20%;
}

.dropdown-btn span {
    font-size: 1rem;
}

.dropdown-item {
    font-size: 1.25rem;
    font-weight: semi-bold;
    cursor: pointer;
    color: var(--cor-azul);
}

.sidebar-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 30px;
    padding: 10% 10% 10px 10%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--cor-preta-container);
}

.sidebar-perfil p {
    font-size: 1rem;
    font-weight: semi-bold;
    color: var(--cor-cinza);
}


.topbar {
    background-color: var(--cor-preta-container);
    border-radius: 10px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 25px 80px;
    box-sizing: border-box;
    border: var(--cor-azul-claro) 1px solid;
    color: var(--cor-branca);
}

.topbar h1 span {
    color: var(--cor-cinza);
    font-size: 1.5rem;
}

.main-content {
    background-color: var(--cor-preta-container);
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding: 10px;
    flex-grow: 1;
}

.feed-list {
    display: flex;
    gap: 2.5rem;
    padding-top: 10px;
    font-size: 1.25rem;
    font-weight: semi-bold;
    color: var(--cor-cinza);
}

.feed-list-item:hover {
    color: var(--cor-branca);
    cursor: pointer;
    transition: 0.5s;
}

.choose-content-list {
    display: flex;
    align-items: center;
    gap: 6.25rem;
    padding-top: 10px;
}

input, textarea{
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
}

.botaoEnvia{
    background: var(--cor-azul);
    padding: 10px 25px;
    color: #fff;
    border-radius: 8px;
}

.post{
    background: #505050;
    width: 32%;
    float: left;
    padding: 20px;
    border-radius: 22px;
}

.postImage{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.postTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 8px;
    color: var(--cor-azul)
}