body {
    margin: 0;
    padding: 5px;
    font-family: var(--montserrat);
    background-color: var(--cor-cinza-background);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 400px;
    margin-right: 5px;
    background-color: var(--cor-preta);
    color: var(--cor-azul-claro);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: px;
}

.sidebar a {
    color: var(--cor-azul-claro);
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar .dropdown-btn {
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    outline: none;
}

.sidebar .dropdown-container {
    display: none;
    background-color: #444;
}

.sidebar .dropdown-container a {
    display: block;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: #444;
    color: white;
    padding: 10px 20px;
}

.tabs {
    display: flex;
    background-color: #555;
}

.tabs button {
    flex-grow: 1;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

.tabs button:hover {
    background-color: #666;
}

.tabs button.active {
    background-color: #777;
}

.tab-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
    display: none;
}

.tab-content.active {
    display: block;
}

.logo {
    height: 100px;
    margin: auto;
}